.FuzzyBunny {
    padding: var(--padding);
    padding-top: var(--padding-half);
  
    display: grid;
    gap: var(--padding-half);
  
    > header {
      background: var(--subheader-color);
      padding: 5px 0;
    }
  }
