* {
    box-sizing: border-box;
  }

  
  :root {
    --primary-font: 'Source Sans Pro', Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", sans-serif;
  --label-font: 'Source Sans Pro', Impact, Haettenschweiler, 'Franklin Gothic Bold',
    Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black',
    sans-serif;

  --header-color: #555b6e;
  --color-2: #89b0ae;
  --button-color: #ffd6ba;
  --color-4: #e29578;
  --background-color: #bee3db;
  --black-color: rgb(27, 42, 48);
  --caption-color: rgb(65, 99, 112);
  --white-color: #faf9f9;

  --padding: 20px;
  @media (min-width: 750px) {
    --padding: 40px;
  }
}

body {
  font-family: var(--primary-font);
  background: var(--background-color);
  color: var(--black-color);
}

:global(.label-text) {
  font-family: var(--label-font);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  }
  